body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 100vh;
        background:url(img/BgBiblia.jpg) center center no-repeat;
    }
    div{
        background:linear-gradient(to left bottom , rgba(143, 107, 54, 0.356), whitesmoke);
        border-radius: 1em;
        padding: 2rem;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        }
        p{
            font-size: 20px;
            font-style: italic;
        }
        button{
            font-size: 15px;
            text-transform: uppercase;
            padding: 8px 2px;
            background-color: brown;
            color: white;
            outline: none;
            border-radius: 8px;
            border: solid 3px white;
        }
        @media (max-width:350px) {
            body{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                overflow: hidden;
            }
            h1{
                font-size: 23px;
            }
            p{
                font-size: 15px;
            }
            span{
                font-size: 20px;
            }
            button{
                font-size: 10px;
            }
        }
